/* Estilos Generales (con selectores de etiqueta) */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  color: #8a2be2;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}

nav ul li a {
  color: red;
  font-weight: bold;
  font-size: 1.25rem;
  text-decoration: none;
}

footer {
  width:100%;
  text-align:center;
  padding-top:1rem;
  padding-bottom:1rem;
  color:white;
  background-color:black;
  font-weight:bold;
}


/*
Actualmente sin uso*/
form {
  display: grid;
  grid-gap: 10px;
}

form label {
  font-size: 16px;
}

form input,
form textarea {
  font-size: 16px;
  padding: 5px;
}

form input[type="submit"] {
  background-color: #ffffff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Clases CSS */


/* ID CSS */
#bienvenida {
  display: flex;
  /*
    Flex direction row hace que lo selementos que estén dentro de el elemento con id #bienvenida
    se vayan insertando e la página de izquierda a derecha
    */
  flex-direction: row;
  /*
    Con la dirección de flex-direction establecida, align-items se refiere a como se van a alinear los contenido sde
    el elemento #bienvenida según el eje transversal (es decir, el eje vertical, porque el eje principal es el horiziontal
    por el flex-direction seleccionado).
    */
  align-items: center;
  /*
    Esto hace que los contenidos en el eje principal (el horizontal) alineen en el centro horizontalmente.
    */
  justify-content: center;
  background-image: url("../media/inicio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bienvenida .texto {
  margin: 10rem;
  padding: 5rem;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: justify;
  font-weight: bold;
  font-size: 1.5rem;
}

#introduccion article {
  margin:3rem;
}
